In [6]:
L = [3,6,5,-6,-7,8,9,5]
for i in range(len(L)):
    for j in range(i+1,len(L)):
        if(L[i]>L[j]):
            temp=L[j]
            L[j]=L[i]
            L[i]=temp
print(L)

[-7, -6, 3, 5, 5, 6, 8, 9]

In [12]:
def fact(x):
    if(x==1):
        return 1
    else:
        return x*fact(x-1)

In [14]:
fact(7)

5040

In [ ]:
Num = ['x','y','z']
x,y,z=int(input(Enter:))
if (x,y,z % 2):
    print("even")
else:
    print("odd")

In [1]:
import pandas as pd

In [2]:
df=pd.read_excel(r"C:\Abinaya\NumpyNinja\phython hackathon\HospitalDatabase .xlsx",sheet_name=None)
read=df['ReAdmissionRegistry']
read

,AdmissionID,PatientID,AdmissionDate,DischargeDate,DischargeDisposition,Service,PrimaryDiagnosis,ExpectedLOS,ExpectedMortality,ReadmissionFlag,DaysToReadmission,EDVisitAfterDischargeFlag
0,389,1,2018-01-01,2018-01-04 19:59:31.391,Home,Hospitalist,Kidney Failure,6.717771,0.010046,NaN,NaN,NaN
1,635,2,2018-01-01,2018-01-04 21:28:51.898,Home,General Medicine,Flu,3.825969,0.604562,1.0,2.0,1.0
2,606,3,2018-01-01,2018-01-04 22:28:23.672,Home,General Medicine,Flu,3.382493,0.266137,1.0,3.0,1.0
3,587,5,2018-01-01,2018-01-05 05:47:04.933,Home,General Medicine,Flu,3.763352,0.307527,1.0,4.0,1.0
4,640,6,2018-01-01,2018-01-05 14:18:30.029,Home,ICU,Heart Failure,13.650953,0.408898,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
715,521,738,2018-02-22,2018-03-07 21:22:10.061,Home,Cardiology,AMI,13.725405,0.388319,NaN,NaN,NaN
716,548,739,2018-02-22,2018-03-08 02:43:18.749,Home,ICU,Pneumonia,11.355456,0.088518,NaN,NaN,NaN
717,509,740,2018-02-22,2018-03-08 09:27:18.377,Home,Hospitalist,Pneumonia,4.819882,0.503308,NaN,NaN,NaN
718,605,741,2018-02-22,2018-03-10 06:06:12.068,Home,General Medicine,Flu,3.123064,0.655870,NaN,NaN,NaN
719,710,742,2018-02-22,2018-03-10 20:38:30.568,Transfer,General Medicine,Diabetes,7.195441,0.286439,NaN,NaN,NaN

In [3]:
read.columns

Index(['AdmissionID', 'PatientID', 'AdmissionDate', 'DischargeDate',
       'DischargeDisposition', 'Service', 'PrimaryDiagnosis', 'ExpectedLOS',
       'ExpectedMortality', 'ReadmissionFlag', 'DaysToReadmission',
       'EDVisitAfterDischargeFlag'],
      dtype='object')

In [4]:
read.columns=['Admission_ID','Patient_ID', 'Admission_Date', 'DischargeDate',
       'DischargeDisposition', 'Service', 'PrimaryDiagnosis', 'ExpectedLOS',
       'ExpectedMortality', 'ReadmissionFlag', 'DaysToReadmission',
       'EDVisitAfterDischargeFlag']

In [5]:
read.columns=[x.upper() for x in read.columns]

In [6]:
read.columns

Index(['ADMISSION_ID', 'PATIENT_ID', 'ADMISSION_DATE', 'DISCHARGEDATE',
       'DISCHARGEDISPOSITION', 'SERVICE', 'PRIMARYDIAGNOSIS', 'EXPECTEDLOS',
       'EXPECTEDMORTALITY', 'READMISSIONFLAG', 'DAYSTOREADMISSION',
       'EDVISITAFTERDISCHARGEFLAG'],
      dtype='object')

In [7]:
read.loc[1,['ADMISSION_ID']]=[234]

In [8]:
read.loc[1]

ADMISSION_ID                                        234
PATIENT_ID                                            2
ADMISSION_DATE                      2018-01-01 00:00:00
DISCHARGEDATE                2018-01-04 21:28:51.898000
DISCHARGEDISPOSITION                               Home
SERVICE                                General Medicine
PRIMARYDIAGNOSIS                                    Flu
EXPECTEDLOS                                    3.825969
EXPECTEDMORTALITY                              0.604562
READMISSIONFLAG                                     1.0
DAYSTOREADMISSION                                   2.0
EDVISITAFTERDISCHARGEFLAG                           1.0
Name: 1, dtype: object

In [9]:
hos=(read['SERVICE']=='Hospitalist')
read.loc[hos,['PATIENT_ID','SERVICE']]

     PATIENT_ID      SERVICE
0             1  Hospitalist
5             7  Hospitalist
6             8  Hospitalist
9            11  Hospitalist
10           12  Hospitalist
..          ...          ...
656         676  Hospitalist
658         678  Hospitalist
673         695  Hospitalist
679         700  Hospitalist
717         740  Hospitalist

[101 rows x 2 columns]

In [10]:
read['SERVICE'].str.replace('Hospitalist','Hospitalised')

0          Hospitalised
1      General Medicine
2      General Medicine
3      General Medicine
4                   ICU
             ...
715          Cardiology
716                 ICU
717        Hospitalised
718    General Medicine
719    General Medicine
Name: SERVICE, Length: 720, dtype: object

In [11]:
def lower_Case(SERVICE):
    return SERVICE.lower()

In [12]:
read['SERVICE'].apply(lower_Case)

0           hospitalist
1      general medicine
2      general medicine
3      general medicine
4                   icu
             ...
715          cardiology
716                 icu
717         hospitalist
718    general medicine
719    general medicine
Name: SERVICE, Length: 720, dtype: object

In [13]:
read['SERVICE']=read['SERVICE'].str.upper()

In [14]:
read

,ADMISSION_ID,PATIENT_ID,ADMISSION_DATE,DISCHARGEDATE,DISCHARGEDISPOSITION,SERVICE,PRIMARYDIAGNOSIS,EXPECTEDLOS,EXPECTEDMORTALITY,READMISSIONFLAG,DAYSTOREADMISSION,EDVISITAFTERDISCHARGEFLAG
0,389,1,2018-01-01,2018-01-04 19:59:31.391,Home,HOSPITALIST,Kidney Failure,6.717771,0.010046,NaN,NaN,NaN
1,234,2,2018-01-01,2018-01-04 21:28:51.898,Home,GENERAL MEDICINE,Flu,3.825969,0.604562,1.0,2.0,1.0
2,606,3,2018-01-01,2018-01-04 22:28:23.672,Home,GENERAL MEDICINE,Flu,3.382493,0.266137,1.0,3.0,1.0
3,587,5,2018-01-01,2018-01-05 05:47:04.933,Home,GENERAL MEDICINE,Flu,3.763352,0.307527,1.0,4.0,1.0
4,640,6,2018-01-01,2018-01-05 14:18:30.029,Home,ICU,Heart Failure,13.650953,0.408898,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
715,521,738,2018-02-22,2018-03-07 21:22:10.061,Home,CARDIOLOGY,AMI,13.725405,0.388319,NaN,NaN,NaN
716,548,739,2018-02-22,2018-03-08 02:43:18.749,Home,ICU,Pneumonia,11.355456,0.088518,NaN,NaN,NaN
717,509,740,2018-02-22,2018-03-08 09:27:18.377,Home,HOSPITALIST,Pneumonia,4.819882,0.503308,NaN,NaN,NaN
718,605,741,2018-02-22,2018-03-10 06:06:12.068,Home,GENERAL MEDICINE,Flu,3.123064,0.655870,NaN,NaN,NaN
719,710,742,2018-02-22,2018-03-10 20:38:30.568,Transfer,GENERAL MEDICINE,Diabetes,7.195441,0.286439,NaN,NaN,NaN

In [15]:
read['PRIMARYDIAGNOSIS']=read['PRIMARYDIAGNOSIS'].apply(lambda x:x.upper())

In [16]:
read

,ADMISSION_ID,PATIENT_ID,ADMISSION_DATE,DISCHARGEDATE,DISCHARGEDISPOSITION,SERVICE,PRIMARYDIAGNOSIS,EXPECTEDLOS,EXPECTEDMORTALITY,READMISSIONFLAG,DAYSTOREADMISSION,EDVISITAFTERDISCHARGEFLAG
0,389,1,2018-01-01,2018-01-04 19:59:31.391,Home,HOSPITALIST,KIDNEY FAILURE,6.717771,0.010046,NaN,NaN,NaN
1,234,2,2018-01-01,2018-01-04 21:28:51.898,Home,GENERAL MEDICINE,FLU,3.825969,0.604562,1.0,2.0,1.0
2,606,3,2018-01-01,2018-01-04 22:28:23.672,Home,GENERAL MEDICINE,FLU,3.382493,0.266137,1.0,3.0,1.0
3,587,5,2018-01-01,2018-01-05 05:47:04.933,Home,GENERAL MEDICINE,FLU,3.763352,0.307527,1.0,4.0,1.0
4,640,6,2018-01-01,2018-01-05 14:18:30.029,Home,ICU,HEART FAILURE,13.650953,0.408898,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
715,521,738,2018-02-22,2018-03-07 21:22:10.061,Home,CARDIOLOGY,AMI,13.725405,0.388319,NaN,NaN,NaN
716,548,739,2018-02-22,2018-03-08 02:43:18.749,Home,ICU,PNEUMONIA,11.355456,0.088518,NaN,NaN,NaN
717,509,740,2018-02-22,2018-03-08 09:27:18.377,Home,HOSPITALIST,PNEUMONIA,4.819882,0.503308,NaN,NaN,NaN
718,605,741,2018-02-22,2018-03-10 06:06:12.068,Home,GENERAL MEDICINE,FLU,3.123064,0.655870,NaN,NaN,NaN
719,710,742,2018-02-22,2018-03-10 20:38:30.568,Transfer,GENERAL MEDICINE,DIABETES,7.195441,0.286439,NaN,NaN,NaN

In [17]:
EDUnique=df['EDUnique']

In [18]:
EDUnique

,EDVisitID,PatientID,VisitDate,EDDischargeTime,Acuity,ReasonForVisit,EDDisposition
0,1,1,2020-01-01 00:00:00.000,2020-01-01 11:20:22.924,1,Stomach Ache,Admitted
1,12,12,2020-01-01 02:45:40.302,2020-01-02 02:00:00.517,2,Migraine,Admitted
2,13,13,2020-01-01 03:09:24.701,2020-01-01 05:00:20.852,3,Stomach Ache,Admitted
3,14,14,2020-01-01 03:12:19.349,2020-01-01 04:32:29.142,3,Migraine,Admitted
4,15,15,2020-01-01 03:46:32.698,2020-01-01 06:24:52.741,3,Chest Pain,Admitted
...,...,...,...,...,...,...,...
940,1183,929,2020-01-15 10:38:42.570,2020-01-16 02:31:52.023,4,Chest Pain,discharged
941,1186,932,2020-01-15 11:52:37.540,2020-01-16 10:19:41.570,1,Pneumonia,discharged
942,1187,933,2020-01-15 12:11:11.678,2020-01-15 16:41:15.223,1,Pneumonia,discharged
943,1188,934,2020-01-15 12:21:46.006,2020-01-15 18:32:21.060,1,Pneumonia,discharged
944,1189,935,2020-01-15 12:51:14.875,2020-01-15 23:40:41.456,1,Pneumonia,discharged

In [19]:
EDUnique[(EDUnique['Acuity']>2) & (EDUnique['EDDisposition']=='Admitted')]

,EDVisitID,PatientID,VisitDate,EDDischargeTime,Acuity,ReasonForVisit,EDDisposition
2,13,13,2020-01-01 03:09:24.701,2020-01-01 05:00:20.852,3,Stomach Ache,Admitted
3,14,14,2020-01-01 03:12:19.349,2020-01-01 04:32:29.142,3,Migraine,Admitted
4,15,15,2020-01-01 03:46:32.698,2020-01-01 06:24:52.741,3,Chest Pain,Admitted
5,16,16,2020-01-01 04:02:27.286,2020-01-01 11:45:54.294,4,Bleeding,Admitted
6,17,17,2020-01-01 04:38:22.324,2020-01-01 16:27:54.203,4,Chest Pain,Admitted
...,...,...,...,...,...,...,...
428,1133,879,2020-01-14 18:34:23.436,2020-01-14 18:54:22.712,5,Chest Pain,Admitted
429,1140,886,2020-01-14 20:48:24.748,2020-01-15 04:59:13.081,5,Chest Pain,Admitted
430,1141,887,2020-01-14 21:15:16.813,2020-01-15 13:55:11.469,5,Chest Pain,Admitted
432,1144,890,2020-01-14 22:00:46.901,2020-01-15 18:17:03.193,3,Pneumonia,Admitted
433,1145,891,2020-01-14 22:17:55.508,2020-01-15 15:14:49.962,4,Pneumonia,Admitted

In [20]:
EDUnique['EDDisposition'].unique()

array(['Admitted', 'admitted', 'Discharged', 'discharged'], dtype=object)

In [21]:
EDUnique['EDDisposition']=EDUnique['EDDisposition'].replace(['admitted','discharged'],['Admitted','Discharged'])

In [22]:
EDUnique

,EDVisitID,PatientID,VisitDate,EDDischargeTime,Acuity,ReasonForVisit,EDDisposition
0,1,1,2020-01-01 00:00:00.000,2020-01-01 11:20:22.924,1,Stomach Ache,Admitted
1,12,12,2020-01-01 02:45:40.302,2020-01-02 02:00:00.517,2,Migraine,Admitted
2,13,13,2020-01-01 03:09:24.701,2020-01-01 05:00:20.852,3,Stomach Ache,Admitted
3,14,14,2020-01-01 03:12:19.349,2020-01-01 04:32:29.142,3,Migraine,Admitted
4,15,15,2020-01-01 03:46:32.698,2020-01-01 06:24:52.741,3,Chest Pain,Admitted
...,...,...,...,...,...,...,...
940,1183,929,2020-01-15 10:38:42.570,2020-01-16 02:31:52.023,4,Chest Pain,Discharged
941,1186,932,2020-01-15 11:52:37.540,2020-01-16 10:19:41.570,1,Pneumonia,Discharged
942,1187,933,2020-01-15 12:11:11.678,2020-01-15 16:41:15.223,1,Pneumonia,Discharged
943,1188,934,2020-01-15 12:21:46.006,2020-01-15 18:32:21.060,1,Pneumonia,Discharged
944,1189,935,2020-01-15 12:51:14.875,2020-01-15 23:40:41.456,1,Pneumonia,Discharged

In [23]:
EDUnique['EDDisposition'].unique()

array(['Admitted', 'Discharged'], dtype=object)

In [24]:
EDUnique.rename(columns={'VisitDate':'Visit_Date'},inplace=True)

In [25]:
EDUnique['Date']=pd.to_datetime(EDUnique['Visit_Date']).dt.month

In [26]:
EDUnique['Time']=pd.to_datetime(EDUnique['Visit_Date']).dt.hour

In [27]:
EDUnique

,EDVisitID,PatientID,Visit_Date,EDDischargeTime,Acuity,ReasonForVisit,EDDisposition,Date,Time
0,1,1,2020-01-01 00:00:00.000,2020-01-01 11:20:22.924,1,Stomach Ache,Admitted,1,0
1,12,12,2020-01-01 02:45:40.302,2020-01-02 02:00:00.517,2,Migraine,Admitted,1,2
2,13,13,2020-01-01 03:09:24.701,2020-01-01 05:00:20.852,3,Stomach Ache,Admitted,1,3
3,14,14,2020-01-01 03:12:19.349,2020-01-01 04:32:29.142,3,Migraine,Admitted,1,3
4,15,15,2020-01-01 03:46:32.698,2020-01-01 06:24:52.741,3,Chest Pain,Admitted,1,3
...,...,...,...,...,...,...,...,...,...
940,1183,929,2020-01-15 10:38:42.570,2020-01-16 02:31:52.023,4,Chest Pain,Discharged,1,10
941,1186,932,2020-01-15 11:52:37.540,2020-01-16 10:19:41.570,1,Pneumonia,Discharged,1,11
942,1187,933,2020-01-15 12:11:11.678,2020-01-15 16:41:15.223,1,Pneumonia,Discharged,1,12
943,1188,934,2020-01-15 12:21:46.006,2020-01-15 18:32:21.060,1,Pneumonia,Discharged,1,12
944,1189,935,2020-01-15 12:51:14.875,2020-01-15 23:40:41.456,1,Pneumonia,Discharged,1,12

In [28]:
EDUnique['Acuity']=EDUnique['Acuity'].apply(lambda x: '$'+str(x))

In [29]:
EDUnique

,EDVisitID,PatientID,Visit_Date,EDDischargeTime,Acuity,ReasonForVisit,EDDisposition,Date,Time
0,1,1,2020-01-01 00:00:00.000,2020-01-01 11:20:22.924,$1,Stomach Ache,Admitted,1,0
1,12,12,2020-01-01 02:45:40.302,2020-01-02 02:00:00.517,$2,Migraine,Admitted,1,2
2,13,13,2020-01-01 03:09:24.701,2020-01-01 05:00:20.852,$3,Stomach Ache,Admitted,1,3
3,14,14,2020-01-01 03:12:19.349,2020-01-01 04:32:29.142,$3,Migraine,Admitted,1,3
4,15,15,2020-01-01 03:46:32.698,2020-01-01 06:24:52.741,$3,Chest Pain,Admitted,1,3
...,...,...,...,...,...,...,...,...,...
940,1183,929,2020-01-15 10:38:42.570,2020-01-16 02:31:52.023,$4,Chest Pain,Discharged,1,10
941,1186,932,2020-01-15 11:52:37.540,2020-01-16 10:19:41.570,$1,Pneumonia,Discharged,1,11
942,1187,933,2020-01-15 12:11:11.678,2020-01-15 16:41:15.223,$1,Pneumonia,Discharged,1,12
943,1188,934,2020-01-15 12:21:46.006,2020-01-15 18:32:21.060,$1,Pneumonia,Discharged,1,12
944,1189,935,2020-01-15 12:51:14.875,2020-01-15 23:40:41.456,$1,Pneumonia,Discharged,1,12

In [30]:
EDUnique.loc[0,['ReasonForVisit']]='Migraine'

In [31]:
EDUnique

,EDVisitID,PatientID,Visit_Date,EDDischargeTime,Acuity,ReasonForVisit,EDDisposition,Date,Time
0,1,1,2020-01-01 00:00:00.000,2020-01-01 11:20:22.924,$1,Migraine,Admitted,1,0
1,12,12,2020-01-01 02:45:40.302,2020-01-02 02:00:00.517,$2,Migraine,Admitted,1,2
2,13,13,2020-01-01 03:09:24.701,2020-01-01 05:00:20.852,$3,Stomach Ache,Admitted,1,3
3,14,14,2020-01-01 03:12:19.349,2020-01-01 04:32:29.142,$3,Migraine,Admitted,1,3
4,15,15,2020-01-01 03:46:32.698,2020-01-01 06:24:52.741,$3,Chest Pain,Admitted,1,3
...,...,...,...,...,...,...,...,...,...
940,1183,929,2020-01-15 10:38:42.570,2020-01-16 02:31:52.023,$4,Chest Pain,Discharged,1,10
941,1186,932,2020-01-15 11:52:37.540,2020-01-16 10:19:41.570,$1,Pneumonia,Discharged,1,11
942,1187,933,2020-01-15 12:11:11.678,2020-01-15 16:41:15.223,$1,Pneumonia,Discharged,1,12
943,1188,934,2020-01-15 12:21:46.006,2020-01-15 18:32:21.060,$1,Pneumonia,Discharged,1,12
944,1189,935,2020-01-15 12:51:14.875,2020-01-15 23:40:41.456,$1,Pneumonia,Discharged,1,12

In [32]:
EDUnique['ReasonForVisit']=EDUnique.loc[EDUnique['ReasonForVisit'].str.contains('Migrane'),'ReasonForVisit']='migrane'

In [33]:
EDUnique

,EDVisitID,PatientID,Visit_Date,EDDischargeTime,Acuity,ReasonForVisit,EDDisposition,Date,Time
0,1,1,2020-01-01 00:00:00.000,2020-01-01 11:20:22.924,$1,migrane,Admitted,1,0
1,12,12,2020-01-01 02:45:40.302,2020-01-02 02:00:00.517,$2,migrane,Admitted,1,2
2,13,13,2020-01-01 03:09:24.701,2020-01-01 05:00:20.852,$3,migrane,Admitted,1,3
3,14,14,2020-01-01 03:12:19.349,2020-01-01 04:32:29.142,$3,migrane,Admitted,1,3
4,15,15,2020-01-01 03:46:32.698,2020-01-01 06:24:52.741,$3,migrane,Admitted,1,3
...,...,...,...,...,...,...,...,...,...
940,1183,929,2020-01-15 10:38:42.570,2020-01-16 02:31:52.023,$4,migrane,Discharged,1,10
941,1186,932,2020-01-15 11:52:37.540,2020-01-16 10:19:41.570,$1,migrane,Discharged,1,11
942,1187,933,2020-01-15 12:11:11.678,2020-01-15 16:41:15.223,$1,migrane,Discharged,1,12
943,1188,934,2020-01-15 12:21:46.006,2020-01-15 18:32:21.060,$1,migrane,Discharged,1,12
944,1189,935,2020-01-15 12:51:14.875,2020-01-15 23:40:41.456,$1,migrane,Discharged,1,12

In [36]:
EDUnique.sort_values(by=['PatientID','EDVisitID'],ascending=[False,True])

,EDVisitID,PatientID,Visit_Date,EDDischargeTime,Acuity,ReasonForVisit,EDDisposition,Date,Time
459,1199,945,2020-01-15 16:23:58.681,2020-01-16 11:23:58.164,$3,migrane,Admitted,1,16
458,1198,944,2020-01-15 15:48:23.719,2020-01-15 17:35:38.695,$2,migrane,Admitted,1,15
457,1197,943,2020-01-15 15:40:39.565,2020-01-15 23:50:07.655,$4,migrane,Admitted,1,15
456,1196,942,2020-01-15 15:21:46.794,2020-01-16 01:18:50.574,$5,migrane,Admitted,1,15
455,1195,941,2020-01-15 14:52:37.634,2020-01-16 13:08:28.547,$4,migrane,Admitted,1,14
...,...,...,...,...,...,...,...,...,...
461,5,5,2020-01-01 00:38:15.540,2020-01-01 13:19:43.485,$1,migrane,Discharged,1,0
39,95,4,2020-01-02 01:21:21.819,2020-01-02 05:25:46.665,$5,migrane,Admitted,1,1
22,55,3,2020-01-01 15:01:29.846,2020-01-01 23:11:53.864,$3,migrane,Admitted,1,15
460,2,2,2020-01-01 00:00:40.339,2020-01-01 11:46:34.398,$1,migrane,Discharged,1,0
0,1,1,2020-01-01 00:00:00.000,2020-01-01 11:20:22.924,$1,migrane,Admitted,1,0

In [37]:
pd.set_option('display.max_rows',100)

In [40]:
EDUnique.head(100)

,EDVisitID,PatientID,Visit_Date,EDDischargeTime,Acuity,ReasonForVisit,EDDisposition,Date,Time
0,1,1,2020-01-01 00:00:00.000,2020-01-01 11:20:22.924,$1,migrane,Admitted,1,0
1,12,12,2020-01-01 02:45:40.302,2020-01-02 02:00:00.517,$2,migrane,Admitted,1,2
2,13,13,2020-01-01 03:09:24.701,2020-01-01 05:00:20.852,$3,migrane,Admitted,1,3
3,14,14,2020-01-01 03:12:19.349,2020-01-01 04:32:29.142,$3,migrane,Admitted,1,3
4,15,15,2020-01-01 03:46:32.698,2020-01-01 06:24:52.741,$3,migrane,Admitted,1,3
5,16,16,2020-01-01 04:02:27.286,2020-01-01 11:45:54.294,$4,migrane,Admitted,1,4
6,17,17,2020-01-01 04:38:22.324,2020-01-01 16:27:54.203,$4,migrane,Admitted,1,4
7,18,18,2020-01-01 04:39:40.091,2020-01-02 03:25:07.379,$5,migrane,Admitted,1,4
8,19,19,2020-01-01 04:56:11.608,2020-01-02 04:31:45.968,$5,migrane,Admitted,1,4
9,26,26,2020-01-01 06:14:46.240,2020-01-01 15:34:00.868,$5,migrane,Admitted,1,6
10,27,27,2020-01-01 06:27:42.483,2020-01-01 18:30:35.922,$5,migrane,Admitted,1,6
11,29,29,2020-01-01 06:51:28.639,2020-01-02 05:57:01.639,$2,migrane,Admitted,1,6
12,30,30,2020-01-01 07:25:54.177,2020-01-01 23:30:20.151,$3,migrane,Admitted,1,7
13,31,31,2020-01-01 07:32:51.917,2020-01-01 19:55:46.991,$4,migrane,Admitted,1,7
14,32,32,2020-01-01 07:58:39.779,2020-01-02 00:47:40.244,$2,migrane,Admitted,1,7
15,43,43,2020-01-01 11:12:46.836,2020-01-01 13:08:13.598,$1,migrane,Admitted,1,11
16,44,44,2020-01-01 11:41:20.981,2020-01-02 05:18:13.677,$4,migrane,Admitted,1,11
17,45,45,2020-01-01 11:53:16.342,2020-01-01 21:20:18.854,$5,migrane,Admitted,1,11
18,51,51,2020-01-01 13:52:32.413,2020-01-02 07:45:26.156,$5,migrane,Admitted,1,13
19,52,52,2020-01-01 13:53:26.032,2020-01-02 01:34:28.860,$5,migrane,Admitted,1,13
20,53,53,2020-01-01 14:28:21.684,2020-01-01 22:29:33.906,$4,migrane,Admitted,1,14
21,54,54,2020-01-01 14:35:14.786,2020-01-02 11:36:14.543,$2,migrane,Admitted,1,14
22,55,3,2020-01-01 15:01:29.846,2020-01-01 23:11:53.864,$3,migrane,Admitted,1,15
23,56,55,2020-01-01 15:02:36.206,2020-01-02 10:40:08.571,$4,migrane,Admitted,1,15
24,57,56,2020-01-01 15:24:28.706,2020-01-02 13:31:43.274,$2,migrane,Admitted,1,15
25,58,57,2020-01-01 15:45:27.946,2020-01-02 14:03:02.270,$5,migrane,Admitted,1,15
26,59,58,2020-01-01 15:47:38.031,2020-01-01 20:18:06.676,$5,migrane,Admitted,1,15
27,70,68,2020-01-01 18:48:35.999,2020-01-01 19:50:56.694,$5,migrane,Admitted,1,18
28,71,69,2020-01-01 19:06:34.366,2020-01-02 06:28:01.863,$2,migrane,Admitted,1,19
29,76,73,2020-01-01 20:49:50.674,2020-01-02 02:51:55.949,$5,migrane,Admitted,1,20
30,77,74,2020-01-01 20:51:05.338,2020-01-02 03:21:41.791,$5,migrane,Admitted,1,20
31,78,75,2020-01-01 21:05:38.789,2020-01-02 19:38:39.539,$4,migrane,Admitted,1,21
32,79,76,2020-01-01 21:07:17.448,2020-01-02 07:39:59.685,$2,migrane,Admitted,1,21
33,80,77,2020-01-01 21:21:52.511,2020-01-02 04:17:40.651,$3,migrane,Admitted,1,21
34,81,78,2020-01-01 21:36:25.663,2020-01-01 22:17:00.528,$4,migrane,Admitted,1,21
35,82,79,2020-01-01 21:56:48.395,2020-01-02 04:34:56.990,$2,migrane,Admitted,1,21
36,83,80,2020-01-01 22:20:44.395,2020-01-02 06:56:11.961,$5,migrane,Admitted,1,22
37,84,81,2020-01-01 22:32:29.329,2020-01-02 03:33:56.685,$5,migrane,Admitted,1,22
38,85,82,2020-01-01 23:04:25.737,2020-01-02 16:13:03.693,$1,migrane,Admitted,1,23
39,95,4,2020-01-02 01:21:21.819,2020-01-02 05:25:46.665,$5,migrane,Admitted,1,1
40,99,8,2020-01-02 01:34:50.409,2020-01-03 01:29:41.852,$3,migrane,Admitted,1,1
41,100,9,2020-01-02 01:42:21.609,2020-01-03 01:01:59.804,$4,migrane,Admitted,1,1
42,101,10,2020-01-02 01:59:52.023,2020-01-02 05:58:34.992,$5,migrane,Admitted,1,1
43,102,11,2020-01-02 02:10:27.309,2020-01-02 19:57:45.090,$1,migrane,Admitted,1,2
44,113,22,2020-01-02 06:04:16.123,2020-01-02 08:50:41.108,$2,migrane,Admitted,1,6
45,114,23,2020-01-02 06:33:46.997,2020-01-02 09:56:01.217,$3,migrane,Admitted,1,6
46,115,24,2020-01-02 06:41:15.499,2020-01-02 17:42:56.948,$3,migrane,Admitted,1,6
47,116,25,2020-01-02 06:50:29.173,2020-01-02 19:26:18.238,$3,migrane,Admitted,1,6
48,119,28,2020-01-02 07:52:55.710,2020-01-02 20:58:33.129,$5,migrane,Admitted,1,7
49,127,36,2020-01-02 10:03:06.029,2020-01-03 03:01:02.157,$5,migrane,Admitted,1,10
50,128,37,2020-01-02 10:25:17.153,2020-01-02 22:28:05.426,$5,migrane,Admitted,1,10
51,130,39,2020-01-02 10:39:33.251,2020-01-02 19:45:51.183,$2,migrane,Admitted,1,10
52,131,40,2020-01-02 10:53:01.533,2020-01-02 11:16:39.883,$3,migrane,Admitted,1,10
53,132,41,2020-01-02 10:58:45.409,2020-01-02 17:24:24.224,$4,migrane,Admitted,1,10
54,133,42,2020-01-02 11:04:22.371,2020-01-03 06:20:32.468,$2,migrane,Admitted,1,11
55,152,61,2020-01-02 17:07:51.149,2020-01-02 19:47:07.192,$5,migrane,Admitted,1,17
56,153,62,2020-01-02 17:31:43.321,2020-01-02 21:21:40.195,$5,migrane,Admitted,1,17
57,154,63,2020-01-02 17:42:54.829,2020-01-03 04:32:20.276,$4,migrane,Admitted,1,17
58,155,64,2020-01-02 17:43:25.798,2020-01-03 15:50:33.488,$2,migrane,Admitted,1,17
59,156,65,2020-01-02 17:52:00.856,2020-01-02 23:09:27.926,$3,migrane,Admitted,1,17
60,157,66,2020-01-02 18:00:57.928,2020-01-03 06:39:09.203,$4,migrane,Admitted,1,18
61,158,67,2020-01-02 18:18:31.729,2020-01-03 03:05:23.945,$2,migrane,Admitted,1,18
62,177,86,2020-01-03 00:14:21.730,2020-01-03 10:23:55.453,$5,migrane,Admitted,1,0
63,178,87,2020-01-03 00:45:42.049,2020-01-03 01:46:35.005,$5,migrane,Admitted,1,0
64,179,88,2020-01-03 01:06:50.852,2020-01-03 19:25:44.106,$4,migrane,Admitted,1,1
65,180,89,2020-01-03 01:25:15.776,2020-01-03 20:16:29.919,$2,migrane,Admitted,1,1
66,181,90,2020-01-03 01:55:49.502,2020-01-03 14:48:09.140,$1,migrane,Admitted,1,1
67,192,101,2020-01-03 05:06:23.929,2020-01-03 16:27:48.524,$2,migrane,Admitted,1,5
68,193,102,2020-01-03 05:27:19.166,2020-01-04 04:53:48.392,$3,migrane,Admitted,1,5
69,194,103,2020-01-03 05:44:52.497,2020-01-03 12:58:53.397,$3,migrane,Admitted,1,5
70,195,104,2020-01-03 06:14:43.454,2020-01-03 22:31:53.570,$3,migrane,Admitted,1,6
71,196,105,2020-01-03 06:22:14.796,2020-01-04 05:25:36.273,$4,migrane,Admitted,1,6
72,197,106,2020-01-03 06:42:11.326,2020-01-03 11:59:14.292,$4,migrane,Admitted,1,6
73,198,107,2020-01-03 07:09:36.535,2020-01-03 21:16:38.149,$5,migrane,Admitted,1,7
74,199,108,2020-01-03 07:31:45.320,2020-01-03 15:39:12.620,$5,migrane,Admitted,1,7
75,206,115,2020-01-03 09:07:25.246,2020-01-04 02:40:04.825,$5,migrane,Admitted,1,9
76,207,116,2020-01-03 09:34:31.309,2020-01-04 02:27:39.310,$5,migrane,Admitted,1,9
77,209,118,2020-01-03 10:16:54.996,2020-01-03 21:43:42.196,$2,migrane,Admitted,1,10
78,210,119,2020-01-03 10:21:07.459,2020-01-03 22:21:32.777,$3,migrane,Admitted,1,10
79,211,120,2020-01-03 10:34:38.135,2020-01-04 04:03:55.753,$4,migrane,Admitted,1,10
80,212,121,2020-01-03 11:05:15.472,2020-01-04 00:08:05.355,$2,migrane,Admitted,1,11
81,223,132,2020-01-03 14:50:47.293,2020-01-03 16:42:08.374,$1,migrane,Admitted,1,14
82,224,133,2020-01-03 14:58:15.926,2020-01-04 08:47:57.548,$4,migrane,Admitted,1,14
83,225,134,2020-01-03 15:13:00.022,2020-01-03 18:32:04.896,$5,migrane,Admitted,1,15
84,226,135,2020-01-03 15:40:11.919,2020-01-04 04:11:40.883,$2,migrane,Admitted,1,15
85,231,140,2020-01-03 16:44:59.702,2020-01-04 12:49:31.412,$5,migrane,Admitted,1,16
86,232,141,2020-01-03 17:05:31.241,2020-01-04 06:55:54.471,$5,migrane,Admitted,1,17
87,233,142,2020-01-03 17:10:20.404,2020-01-03 18:32:54.904,$4,migrane,Admitted,1,17
88,234,143,2020-01-03 17:22:20.787,2020-01-04 15:27:53.239,$2,migrane,Admitted,1,17
89,235,144,2020-01-03 17:53:06.122,2020-01-04 00:27:05.813,$3,migrane,Admitted,1,17
90,236,145,2020-01-03 18:09:08.585,2020-01-04 17:28:48.077,$4,migrane,Admitted,1,18
91,237,146,2020-01-03 18:18:52.962,2020-01-04 10:09:30.491,$2,migrane,Admitted,1,18
92,238,147,2020-01-03 18:52:51.919,2020-01-04 13:59:53.881,$5,migrane,Admitted,1,18
93,239,148,2020-01-03 19:27:05.435,2020-01-04 09:21:01.607,$5,migrane,Admitted,1,19
94,250,159,2020-01-03 22:45:04.460,2020-01-04 12:27:07.844,$5,migrane,Admitted,1,22
95,251,160,2020-01-03 23:01:07.510,2020-01-04 16:56:19.904,$2,migrane,Admitted,1,23
96,256,165,2020-01-04 00:17:32.021,2020-01-04 16:45:16.904,$5,migrane,Admitted,1,0
97,257,166,2020-01-04 00:47:09.062,2020-01-04 22:14:19.865,$5,migrane,Admitted,1,0
98,258,167,2020-01-04 01:07:51.640,2020-01-04 08:06:42.787,$4,migrane,Admitted,1,1
99,259,168,2020-01-04 01:24:27.833,2020-01-04 21:27:18.858,$2,migrane,Admitted,1,1

In [47]:
EDUnique[EDUnique['EDDisposition']=='Admitted']

,EDVisitID,PatientID,Visit_Date,EDDischargeTime,Acuity,ReasonForVisit,EDDisposition,Date,Time
0,1,1,2020-01-01 00:00:00.000,2020-01-01 11:20:22.924,$1,migrane,Admitted,1,0
1,12,12,2020-01-01 02:45:40.302,2020-01-02 02:00:00.517,$2,migrane,Admitted,1,2
2,13,13,2020-01-01 03:09:24.701,2020-01-01 05:00:20.852,$3,migrane,Admitted,1,3
3,14,14,2020-01-01 03:12:19.349,2020-01-01 04:32:29.142,$3,migrane,Admitted,1,3
4,15,15,2020-01-01 03:46:32.698,2020-01-01 06:24:52.741,$3,migrane,Admitted,1,3
...,...,...,...,...,...,...,...,...,...
455,1195,941,2020-01-15 14:52:37.634,2020-01-16 13:08:28.547,$4,migrane,Admitted,1,14
456,1196,942,2020-01-15 15:21:46.794,2020-01-16 01:18:50.574,$5,migrane,Admitted,1,15
457,1197,943,2020-01-15 15:40:39.565,2020-01-15 23:50:07.655,$4,migrane,Admitted,1,15
458,1198,944,2020-01-15 15:48:23.719,2020-01-15 17:35:38.695,$2,migrane,Admitted,1,15
459,1199,945,2020-01-15 16:23:58.681,2020-01-16 11:23:58.164,$3,migrane,Admitted,1,16

In [55]:
EDUnique.groupby('EDDisposition')['Acuity'].value_counts().loc['Admitted']

Acuity
$5    162
$2    102
$4     97
$3     70
$1     29
Name: Acuity, dtype: int64

In [58]:
read

,ADMISSION_ID,PATIENT_ID,ADMISSION_DATE,DISCHARGEDATE,DISCHARGEDISPOSITION,SERVICE,PRIMARYDIAGNOSIS,EXPECTEDLOS,EXPECTEDMORTALITY,READMISSIONFLAG,DAYSTOREADMISSION,EDVISITAFTERDISCHARGEFLAG
0,389,1,2018-01-01,2018-01-04 19:59:31.391,Home,HOSPITALIST,KIDNEY FAILURE,6.717771,0.010046,NaN,NaN,NaN
1,234,2,2018-01-01,2018-01-04 21:28:51.898,Home,GENERAL MEDICINE,FLU,3.825969,0.604562,1.0,2.0,1.0
2,606,3,2018-01-01,2018-01-04 22:28:23.672,Home,GENERAL MEDICINE,FLU,3.382493,0.266137,1.0,3.0,1.0
3,587,5,2018-01-01,2018-01-05 05:47:04.933,Home,GENERAL MEDICINE,FLU,3.763352,0.307527,1.0,4.0,1.0
4,640,6,2018-01-01,2018-01-05 14:18:30.029,Home,ICU,HEART FAILURE,13.650953,0.408898,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
715,521,738,2018-02-22,2018-03-07 21:22:10.061,Home,CARDIOLOGY,AMI,13.725405,0.388319,NaN,NaN,NaN
716,548,739,2018-02-22,2018-03-08 02:43:18.749,Home,ICU,PNEUMONIA,11.355456,0.088518,NaN,NaN,NaN
717,509,740,2018-02-22,2018-03-08 09:27:18.377,Home,HOSPITALIST,PNEUMONIA,4.819882,0.503308,NaN,NaN,NaN
718,605,741,2018-02-22,2018-03-10 06:06:12.068,Home,GENERAL MEDICINE,FLU,3.123064,0.655870,NaN,NaN,NaN
719,710,742,2018-02-22,2018-03-10 20:38:30.568,Transfer,GENERAL MEDICINE,DIABETES,7.195441,0.286439,NaN,NaN,NaN

In [60]:
read.columns=(x.lower() for x in read.columns)

In [61]:
read

,admission_id,patient_id,admission_date,dischargedate,dischargedisposition,service,primarydiagnosis,expectedlos,expectedmortality,readmissionflag,daystoreadmission,edvisitafterdischargeflag
0,389,1,2018-01-01,2018-01-04 19:59:31.391,Home,HOSPITALIST,KIDNEY FAILURE,6.717771,0.010046,NaN,NaN,NaN
1,234,2,2018-01-01,2018-01-04 21:28:51.898,Home,GENERAL MEDICINE,FLU,3.825969,0.604562,1.0,2.0,1.0
2,606,3,2018-01-01,2018-01-04 22:28:23.672,Home,GENERAL MEDICINE,FLU,3.382493,0.266137,1.0,3.0,1.0
3,587,5,2018-01-01,2018-01-05 05:47:04.933,Home,GENERAL MEDICINE,FLU,3.763352,0.307527,1.0,4.0,1.0
4,640,6,2018-01-01,2018-01-05 14:18:30.029,Home,ICU,HEART FAILURE,13.650953,0.408898,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
715,521,738,2018-02-22,2018-03-07 21:22:10.061,Home,CARDIOLOGY,AMI,13.725405,0.388319,NaN,NaN,NaN
716,548,739,2018-02-22,2018-03-08 02:43:18.749,Home,ICU,PNEUMONIA,11.355456,0.088518,NaN,NaN,NaN
717,509,740,2018-02-22,2018-03-08 09:27:18.377,Home,HOSPITALIST,PNEUMONIA,4.819882,0.503308,NaN,NaN,NaN
718,605,741,2018-02-22,2018-03-10 06:06:12.068,Home,GENERAL MEDICINE,FLU,3.123064,0.655870,NaN,NaN,NaN
719,710,742,2018-02-22,2018-03-10 20:38:30.568,Transfer,GENERAL MEDICINE,DIABETES,7.195441,0.286439,NaN,NaN,NaN

In [62]:
read.columns=['Admission_ID','Patient_ID', 'Admission_Date', 'DischargeDate',
       'DischargeDisposition', 'Service', 'PrimaryDiagnosis', 'ExpectedLOS',
       'ExpectedMortality', 'ReadmissionFlag', 'DaysToReadmission',
       'EDVisitAfterDischargeFlag']

In [63]:
read

,Admission_ID,Patient_ID,Admission_Date,DischargeDate,DischargeDisposition,Service,PrimaryDiagnosis,ExpectedLOS,ExpectedMortality,ReadmissionFlag,DaysToReadmission,EDVisitAfterDischargeFlag
0,389,1,2018-01-01,2018-01-04 19:59:31.391,Home,HOSPITALIST,KIDNEY FAILURE,6.717771,0.010046,NaN,NaN,NaN
1,234,2,2018-01-01,2018-01-04 21:28:51.898,Home,GENERAL MEDICINE,FLU,3.825969,0.604562,1.0,2.0,1.0
2,606,3,2018-01-01,2018-01-04 22:28:23.672,Home,GENERAL MEDICINE,FLU,3.382493,0.266137,1.0,3.0,1.0
3,587,5,2018-01-01,2018-01-05 05:47:04.933,Home,GENERAL MEDICINE,FLU,3.763352,0.307527,1.0,4.0,1.0
4,640,6,2018-01-01,2018-01-05 14:18:30.029,Home,ICU,HEART FAILURE,13.650953,0.408898,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
715,521,738,2018-02-22,2018-03-07 21:22:10.061,Home,CARDIOLOGY,AMI,13.725405,0.388319,NaN,NaN,NaN
716,548,739,2018-02-22,2018-03-08 02:43:18.749,Home,ICU,PNEUMONIA,11.355456,0.088518,NaN,NaN,NaN
717,509,740,2018-02-22,2018-03-08 09:27:18.377,Home,HOSPITALIST,PNEUMONIA,4.819882,0.503308,NaN,NaN,NaN
718,605,741,2018-02-22,2018-03-10 06:06:12.068,Home,GENERAL MEDICINE,FLU,3.123064,0.655870,NaN,NaN,NaN
719,710,742,2018-02-22,2018-03-10 20:38:30.568,Transfer,GENERAL MEDICINE,DIABETES,7.195441,0.286439,NaN,NaN,NaN

In [64]:
read.sort_values(by='Admission_ID')

,Admission_ID,Patient_ID,Admission_Date,DischargeDate,DischargeDisposition,Service,PrimaryDiagnosis,ExpectedLOS,ExpectedMortality,ReadmissionFlag,DaysToReadmission,EDVisitAfterDischargeFlag
7,1,9,2018-01-01,2018-01-07 18:06:06.408,Expired,CARDIOLOGY,AMI,9.646857,0.061540,NaN,NaN,1.0
34,2,30,2018-01-02,2018-01-16 07:25:09.548,Home,GENERAL MEDICINE,STROKE,7.985315,0.212920,NaN,NaN,NaN
54,3,49,2018-01-03,2018-01-17 11:34:34.876,Home,GENERAL MEDICINE,STROKE,6.296518,0.254091,NaN,NaN,NaN
75,4,70,2018-01-04,2018-01-16 21:48:26.921,Home,GENERAL MEDICINE,STROKE,5.342352,0.211663,NaN,NaN,NaN
92,5,87,2018-01-05,2018-01-20 23:10:11.395,Home,GENERAL MEDICINE,STROKE,7.247169,0.462181,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
710,716,733,2018-02-22,2018-03-05 12:31:55.958,Transfer,ICU,HEART FAILURE,13.323413,0.490892,1.0,3.0,1.0
596,717,616,2018-02-17,2018-02-27 21:41:57.498,Transfer,ICU,PNEUMONIA,11.981275,0.011599,1.0,5.0,1.0
625,718,645,2018-02-18,2018-03-03 04:40:04.828,Transfer,CARDIOLOGY,HEART FAILURE,14.981831,0.003276,1.0,5.0,1.0
641,719,661,2018-02-19,2018-02-27 01:14:51.869,Transfer,NEUROLOGY,PAIN,12.513682,0.976742,1.0,5.0,1.0
658,720,678,2018-02-20,2018-02-27 09:27:47.105,Transfer,HOSPITALIST,DIABETES,5.270810,0.256995,NaN,NaN,NaN

In [73]:
Service=read.groupby('Service')['ExpectedLOS','ExpectedMortality'].max()
Service

C:\Users\Gobinath\AppData\Local\Temp\ipykernel_13824\2815488393.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  Service=read.groupby('Service')['ExpectedLOS','ExpectedMortality'].max()

                  ExpectedLOS  ExpectedMortality
Service
CARDIOLOGY          15.811000           0.628827
GENERAL MEDICINE    10.888192           0.698910
HOSPITALIST         16.472257           0.932385
ICU                 16.998213           0.980886
NEUROLOGY           16.785926           0.989945
ORTHOPEADICS         4.986324           0.774659

In [83]:
read['Dis_date']=pd.to_datetime(read['DischargeDate']).dt.date
read['Dis_date'].astype(<M8[ns])

SyntaxError: invalid syntax (2013820717.py, line 2)

In [101]:
#read['Actual_LOS']=(pd.to_datetime(read.Dis_date)-pd.to_datetime(read.Admission_Date))
read['Actual_LOS']=(pd.to_datetime(pd.to_datetime(read['DischargeDate']).dt.date)-pd.to_datetime(read.Admission_Date))
read

,Admission_ID,Patient_ID,Admission_Date,DischargeDate,DischargeDisposition,Service,PrimaryDiagnosis,ExpectedLOS,ExpectedMortality,ReadmissionFlag,DaysToReadmission,EDVisitAfterDischargeFlag,Actual_LOS
0,389,1,2018-01-01,2018-01-04 19:59:31.391,Home,HOSPITALIST,KIDNEY FAILURE,6.717771,0.010046,NaN,NaN,NaN,3 days
1,234,2,2018-01-01,2018-01-04 21:28:51.898,Home,GENERAL MEDICINE,FLU,3.825969,0.604562,1.0,2.0,1.0,3 days
2,606,3,2018-01-01,2018-01-04 22:28:23.672,Home,GENERAL MEDICINE,FLU,3.382493,0.266137,1.0,3.0,1.0,3 days
3,587,5,2018-01-01,2018-01-05 05:47:04.933,Home,GENERAL MEDICINE,FLU,3.763352,0.307527,1.0,4.0,1.0,4 days
4,640,6,2018-01-01,2018-01-05 14:18:30.029,Home,ICU,HEART FAILURE,13.650953,0.408898,NaN,NaN,NaN,4 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,521,738,2018-02-22,2018-03-07 21:22:10.061,Home,CARDIOLOGY,AMI,13.725405,0.388319,NaN,NaN,NaN,13 days
716,548,739,2018-02-22,2018-03-08 02:43:18.749,Home,ICU,PNEUMONIA,11.355456,0.088518,NaN,NaN,NaN,14 days
717,509,740,2018-02-22,2018-03-08 09:27:18.377,Home,HOSPITALIST,PNEUMONIA,4.819882,0.503308,NaN,NaN,NaN,14 days
718,605,741,2018-02-22,2018-03-10 06:06:12.068,Home,GENERAL MEDICINE,FLU,3.123064,0.655870,NaN,NaN,NaN,16 days
719,710,742,2018-02-22,2018-03-10 20:38:30.568,Transfer,GENERAL MEDICINE,DIABETES,7.195441,0.286439,NaN,NaN,NaN,16 days

read.drop('Dis_date',axis=1,inplace=True)

In [88]:
read['PrimaryDiagnosis'].value_counts()

PNEUMONIA             177
FLU                    80
HEART FAILURE          78
STROKE                 68
DIABETES               64
HYPERTENSION           50
AMI                    48
LACERATION             29
HIP FRACTURE           23
KNEE REPLACEMENT       23
KIDNEY FAILURE         20
FEVER                  19
MIGRAINE               12
AFIB                   11
BROKEN LEG              9
PAIN                    7
SPINAL CORD INJURY      2
Name: PrimaryDiagnosis, dtype: int64

In [94]:
read

,Admission_ID,Patient_ID,Admission_Date,DischargeDate,DischargeDisposition,Service,PrimaryDiagnosis,ExpectedLOS,ExpectedMortality,ReadmissionFlag,DaysToReadmission,EDVisitAfterDischargeFlag,Dis_date
0,389,1,2018-01-01,2018-01-04 19:59:31.391,Home,HOSPITALIST,KIDNEY FAILURE,6.717771,0.010046,NaN,NaN,NaN,2018-01-04
1,234,2,2018-01-01,2018-01-04 21:28:51.898,Home,GENERAL MEDICINE,FLU,3.825969,0.604562,1.0,2.0,1.0,2018-01-04
2,606,3,2018-01-01,2018-01-04 22:28:23.672,Home,GENERAL MEDICINE,FLU,3.382493,0.266137,1.0,3.0,1.0,2018-01-04
3,587,5,2018-01-01,2018-01-05 05:47:04.933,Home,GENERAL MEDICINE,FLU,3.763352,0.307527,1.0,4.0,1.0,2018-01-05
4,640,6,2018-01-01,2018-01-05 14:18:30.029,Home,ICU,HEART FAILURE,13.650953,0.408898,NaN,NaN,NaN,2018-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,521,738,2018-02-22,2018-03-07 21:22:10.061,Home,CARDIOLOGY,AMI,13.725405,0.388319,NaN,NaN,NaN,2018-03-07
716,548,739,2018-02-22,2018-03-08 02:43:18.749,Home,ICU,PNEUMONIA,11.355456,0.088518,NaN,NaN,NaN,2018-03-08
717,509,740,2018-02-22,2018-03-08 09:27:18.377,Home,HOSPITALIST,PNEUMONIA,4.819882,0.503308,NaN,NaN,NaN,2018-03-08
718,605,741,2018-02-22,2018-03-10 06:06:12.068,Home,GENERAL MEDICINE,FLU,3.123064,0.655870,NaN,NaN,NaN,2018-03-10
719,710,742,2018-02-22,2018-03-10 20:38:30.568,Transfer,GENERAL MEDICINE,DIABETES,7.195441,0.286439,NaN,NaN,NaN,2018-03-10

In [1]:
git clone https://github.com/AbinayaGobinath/SQL-Repo.git

SyntaxError: invalid syntax (2271789257.py, line 1)